.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  
  img {
    max-height: 48px;
    object-fit: contain;
  }
  
 
  .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; 
    gap: 10px; 
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .full-screen {
    min-height: 100vh; /* ให้สูงเต็มหน้าจอ */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .calendar-container {
    width: 1200px; /* กำหนดความกว้างให้เท่ากับภาพ */
    margin: 0 auto; /* จัดให้อยู่ตรงกลาง */
  }

  .calendar-container {
    max-width: 90%; /* ป้องกันไม่ให้ใหญ่เกินไป */
  }
  
  .calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 คอลัมน์ */
    gap: 10px;
  }
  